
.size-fits-content
    max-width: fit-content
    max-height: fit-content

div.content-padding
    padding: 15px

div.card-borders
    border-radius: 10px

.screen-centered
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)